html,
body{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
}

.container{
    width: 100%;
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
}
.dado{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    margin: 10px;
    padding: 10px;

}
.linea{
    width: 100%;
    display: flex;
}
.punto{
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.arribaderecha{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spacebetween{
    display: flex;
    justify-content: space-between;

}
.abajoderecha{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}